################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/XrmToolBox.TransferFormsRTMEnvironments/bin/Debug
/XrmToolBox.TransferFormsRTMEnvironments/obj/Debug
/XrmToolBox.TransferFormsRTMEnvironments/.vs
/.vs
/XrmToolBox.TransferFormsRTMEnvironments/obj/Release
/XrmToolBox.TransferFormsRTMEnvironments/bin/Release
